body {
  background-color: rgb(43, 48, 53);
}

.border-dashed {
  border-style: dashed;
}

.text-transparent {
  color: transparent;
}

.ag-header-cell-text {
  margin-right: auto;
  margin-left: auto;
}

.dollar {
  display: flex;
  justify-content: space-between;
}

.dollar:before {
  content: "$";
}

svg.recharts-surface {
  overflow: visible;
}

.ag-root-wrapper,
.btn {
  box-shadow: var(--bs-box-shadow-sm) !important;
}
